<%= render "devise/shared/header" %>

<%= "Q&Aテスト" %>
<% @notices.each do |notice| %>
  <div class="notice-main-two">
    <%= notice.subject %>
  </div>
  <div class="notice-main-two">
    <%= notice.notice %>
  </div>
<% end %>