<div class="notice-side">
  <div class="notice-side-body">
    <div class="notice-side-menu">
      メニュー
    </div>
    <div class="notice-a">
      <%= link_to "お知らせ一覧へ", root_path, class: "post" %>
    </div>
    <div class="notice-a">
      <%= link_to "Q&A一覧へ", qas_path, class: "post" %>
    </div><br>
    <div class="notice-a">
      <%= link_to "お知らせ追加", new_notice_path, class: "post" %>
    </div>
    <div class="notice-a">
      <%= link_to "QA追加", new_qa_path, class: "post" %>
    </div>
  </div>
</div>