.one_share {
  border-bottom:solid;
  border-color: rgb(142, 199, 246);
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

//ログイン画面
.login-menu {
  padding-top: 100px;
  padding-bottom: 30px;
  height: 100vh;
  background-color: #def7ff;
  
}
.login-center{
  padding-top: 60px;
  margin: auto;
  border:solid;
  border-color: rgb(142, 199, 246);
  height: 190px;
  width: 170px;
  background-color: #def7ff;
  text-align: center;
}

//新規登録画面
.new-sessions-menu-name {
  font-size: 30px;
  text-align: center;
}
.login-menu-name {
  font-size: 30px;
  text-align: center;
}
.new-sessions-menu {
  padding-top: 100px;
  padding-bottom: 30px;
  height: 100vh;
  background-color: #def7ff; 
}
.new-sessions-center{
  padding-top: 30px;
  margin: auto;
  border:solid;
  border-color: rgb(142, 199, 246);
  height: 450px;
  width: 400px;
  background-color: #def7ff;
  text-align: center;
}

//メイン画面(ログイン)
.main-menu {
  padding-top: 130px;
  padding-bottom: 30px;
  height: 100vh;
  background-color: #def7ff;
    
}
.main-center{
  padding-top: 60px;
  padding-bottom: 10px;
  margin: auto;
  border:solid;
  border-color: rgb(142, 199, 246);
  height: 190px;
  width: 170px;
  background-color: #def7ff;
  text-align: center;
}

.light-header{
  padding-right: 10px;
}
.site-header {
  height: 50px;
  background-color: #def7ff;
  font-size: 20px;
}

.login-in{
  font-size: 20px;
}
.login-new{
  font-size: 20px;
}

.manual-body{
  display: flex;
  height: 100vh;
}

.manual-side{
  height: 100vh;
  width: 200px;
  background-color: #def7ff;
  border-right:solid;
  border-color: rgb(142, 199, 246);
}
.manual-side-menu{
  font-size: 20px;
}
.manual-list{
  font-size: 20px;
  height: 100vh;
  width: 100%;
  background-color: #def7ff;
}
.notice-header-list{
  display: flex;
}

// .manual-list-menu{
//  margin-right: 20px;
// }

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}
//お知らせ入力画面
.notice-main-word{
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 5px;
}

.notice-main-main{
  display: flex;
  margin-bottom: 5px;
}
.notice-main-in {
  width: 160px;
  height: 20px;
  padding-left: 5px;
}
.notice-main-category {
  width: 130px;
  height: 20px;
  padding-left: 5px;
}
.notice-main-contents{
  width: 300px;
  height: 20px;
  padding-left: 5px;
}
.notice-main-author{
  width: 110px;
  height: 20px;
  padding-left: 5px;
}
.notice-side-one{
  margin-bottom: 5px;
  display: flex;
}
.notice-main-one{
  width: 150px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}
.notice-main-two{
  width: 130px;
  height: 20px;
  padding-left: 5px;
  font-size: 15px;
  margin-top: 3px;
}
.notice-main-three{
  width: 300px;
  height: 20px;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 3px;
  }
.notice-main-force{
  width: 200px;
  height: 20px;
  font-size: 15px;

  margin-top: 3px;
}
.footer {
  border-top:solid;
  border-color: rgb(142, 199, 246);
  height: 50px;
  background-color: #def7ff;
  font-size: 20px;
}

//notice SHOW画面
.notices-main{
  padding-left: 10px;
  background-color: #def7ff;
  height: 100vh;
}
.notices-sub{
  margin-right: 10px;
  background-color: white;
  border:solid 1px;
  border-color: rgb(142, 199, 246);
  display: flex;
}

.notices-subjects{
padding-top: 5px;
font-size: 20px;
}
.notice-show-two{
  font-size: 15px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notice-show-three{
  font-size: 15px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  height: 100px;
  background-color: white;
  border:solid 1px;
  border-color: rgb(142, 199, 246);
  }
.notice-main-out{
  margin-bottom: 5px;
}
  
.notice-text{
  margin-top: 20px;
  font-size: 20px;
}

//qa回答画面
.qa-title-main{
  padding-top: 20px;
  font-size: 20px;
  display: flex;
}
.qa-title{
  margin-right: 20px;
}

.qa-show-two{
  border-bottom:solid 1px;
  border-color: rgb(142, 199, 246);
  margin-right: 20px;
  padding-left: 5px;
}
.qa-subjects{
  padding-top: 20px;
  font-size: 20px;
  color: red;
}
.qa-show-three{
  padding-left: 5px;
}
.qa-text{
  margin-top: 20px;
  font-size: 20px;
  color: blue;
}

//meesage部分について
.message-main{
  background-color: #def7ff;
}
.message-addition{
  font-size: 20px;
}
.message-sub{
  border-bottom:solid 1px;
  border-color: rgb(142, 199, 246);
  margin-right: 10px;
  display: flex;
}
.message-subjects{
  padding-top: 5px;
}
.message-main-two{

  font-size: 15px;
  padding-left: 5px;
  margin-right: 10px;
  margin-top: 3px;

}
.message-show-three{
  font-size: 15px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  height: 50px;

  }
.message-text{
  margin-top: 20px;
}

.message-under-line {
  padding-top: 5px;

}

.message-comment-main{
  padding-top: 5px;
  padding-bottom: 20px;
  border-top:solid 1px;
  border-color: rgb(142, 199, 246);
}